.mylist {
    display: flex;
  
    .mylistContainer {
      flex: 6;
  
    .widgets,
    .charts {
        display: flex;
        padding: 1px;
        gap: 1px;
      }
  
    .charts {
        padding: 1px 1px;
      }
    }
  }